.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {
    text-align: center;
}

.drawer-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.drawer-list {
    width: 250px;
}

.drawer-item {
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.drawer-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 200px;
}

.search-results {
    padding: 20px;
    background-color: #f9f9f9;
}

.result-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.read-more-button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more-button:hover {
    background-color: #3700b3;
}
