.App {
    font-family: Arial, sans-serif;
    text-align: center;
}

.title {
    flex-grow: 1;
    text-align: left;
}

.nav-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-buttons > * {
    margin: 0 10px;
}

.top-right {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
}

.search-results {
    padding: 20px;
    text-align: left;
}

.result-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.read-more-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.read-more-button:hover {
    background-color: #0056b3;
}
